# Matt's Altium gitignore File
#
# @author Matthew Spinks <https://github.com/mspinksosu>
#
# By far the biggest nuisance with using Altium with a repo is the generation 
# of History folders. Altium loves to put them everywhere. If you don't catch 
# them all, your folder will become huge over time.

# Altium generated folders
**/__Previews
**/History
/Project Logs for*

# Other files
*.SchDocPreview
*.PcbDocPreview
*.PrjPCBStructure
*.PrjPcbStructure
/*.html
/Project Outputs for*/*.drc
/Project Outputs for*/*.rep
/Project Outputs for*/*.html
/Project Outputs for*/*.txt
